.productsGaleryContainer{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  h1{
    font-size: 1.5rem;
  }
  .gridGaleryProducts{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
  }
}