* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --blue-500: #0064E8;

  --green-500: #95E500;
  --green-600: #2FC64D;
  
  --white: #ffffff;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}